.container{
  width: 90%;
  margin: 3em auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(195,246,235);
  background: linear-gradient(115deg, rgba(195,246,235,1) 18%, rgba(182,222,213,1) 42%, rgba(237,242,241,1) 72%, rgba(230,255,247,1) 85%);
  box-shadow: inset 0 0 6px 10px rgba(#464545, 0.4), 0 0 15px 20px rgba(#fff, 0.05);
  padding: 1em;
  position: relative;
}

.difficulties{

  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

.box{
  margin: 1em 2em;

  input{
    all: unset;
    pointer-events: none;

    &:checked ~ label{
      color: #2497F5;

      span{
        border-color: #2497F5;
        i{
          display: block;
        }
      }
    }
  }

  span{
    width: .9em;
    height: .9em;
    background-color: transparent;
    border: .15em solid #000;
    margin-right: .3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;

    i{
      font-size: .5em;
      margin-top: .15em;
      display: none;
    }
  }


  label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
  }
}

.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 68em) {

  .container{
    width: 50%;

    h1{
      font-size: 2.3em;
    }
  }

  .box{

    label{
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 87em) {

  .container{
    width: 30%;
  }
}

